<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block page_title %}Blog{% endblock %} · Mount Gambel Oak</title>
  {% include 'includes/head-assets.html' %}
  <link rel="stylesheet" href="/static/css/components/tag-chip.css" />
  <link rel="stylesheet" href="/static/css/pages/blog-post.css" />
</head>
<body>
  {% set active_page = 'blog' %}
  {% include 'includes/header.html' %}

  <main class="blog-post">
    {% block post_wrapper %}{% endblock %}
  </main>

  {% include 'includes/footer.html' %}

  {% include 'includes/footer-scripts.html' %}
  <script src="/static/js/post-sections.js"></script>
</body>
</html>
