  {% if holiday_details %}
  <script>
    window.__HOLIDAY_DETAILS__ = {{ holiday_details | tojson }};
  </script>
  {% endif %}
  <script
    defer
    src="/static/js/favicon-upgrade.js?v={{ static_version }}"
    data-svg-favicon="/static/images/favicon.svg?v={{ favicon_version | default('1') }}"
  ></script>
  <script>{{ inline_asset("app/static/js/theme-config.js") }}</script>
  <script>{{ inline_asset("app/static/js/theme-preload.js") }}</script>
  <link rel="icon" href="/static/images/default.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/static/images/default.ico" type="image/x-icon" />
  {% if page_css_bundle %}
  <link rel="stylesheet" href="{{ page_css_bundle }}" />
  {% endif %}
