  {% if holiday_details %}
  <script>
    window.__HOLIDAY_DETAILS__ = {{ holiday_details | tojson }};
  </script>
  {% endif %}
  <script src="/static/js/theme-config.js?v={{ static_version }}"></script>
  <script src="/static/js/theme-preload.js?v={{ static_version }}"></script>
  <script defer src="/static/js/theme-init.js?v={{ static_version }}"></script>
  <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg" sizes="any">
  <link rel="alternate icon" type="image/x-icon" href="/static/images/default.ico">
  <link rel="stylesheet" href="/static/css/base.css?v={{ static_version }}" />
  <link rel="stylesheet" href="/static/css/theme.css?v={{ static_version }}" />
  <link rel="stylesheet" href="/static/css/generated/theme-accents.css?v={{ static_version }}" />
  <link rel="stylesheet" href="/static/css/components/header.css?v={{ static_version }}" />
  <link rel="stylesheet" href="/static/css/components/footer.css?v={{ static_version }}" />
  <link rel="stylesheet" href="/static/css/theme-widget.css?v={{ static_version }}" />
